.wrapper {
    border-top: 1px solid #1618231f;
}

.label {
    font-size: 1.4rem;
    padding: 8px;
    font-weight: 600;
    color: #717485bf;
}

.account-item {
    display: flex;
    padding: 8px;
    align-items: center;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
    margin-top: 0;
    line-height: 1;
}

.check {
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
    margin-left: 4px;
}

.name {
    font-size: 1.2rem;
    color: #161823bf;
}

.more-btn {
    font-size: 1.4rem;
    color: var(--primary);
    padding: 8px;
    font-weight: 600;
    cursor: pointer;
}
